$color_1: white;
$background-color_1: #2a2d36;

main {
	border: none;
	grid-row: 2 / span 1;
	padding: 0 3vw;
	background-color: $background-color_1;
	display: grid;
	grid-template-rows: 1fr 6fr 1fr;
}
.main__header {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: end;
	align-items: center;
	flex-direction: column;
	row-gap: 10px;
	h1 {
		color: $color_1;
	}
	button {
		width: 15%;
		height: 0.5px;
		border: none;
	}
}
@media screen and (max-width: 600px) {
	main {
		padding: 0 1.8vw;
	}
}
@media screen and (max-width: 450px) {
	main {
		padding: 0vh 1.3vw;
	}
}
